.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: all;}


#fff{
  background-color: #b1b4b9;
  width: 50%;
  height: 50%;
}
#cadre{
  
  margin-top: 2%;
  border:12px solid gainsboro;
  width: 40%;
  height: auto;
  background-color: black;
  color: white;
  box-shadow: 5px 5px 10px 10px;

}
nav{

  padding: 3%;
}
#sous{
  border: 30px solid black;

}

.imp{
  margin-right: 9%;
  margin-left: 3%;
  font-size: 300%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
img{
  margin-top: 3%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(390deg);
  }
}
h1{
  width: auto;
  font-size: 220%;
}
button{
  FONT-WEIGHT: blod ;
  width : auto;
  height: auto;
  background-color: royalblue;
  color: white;
  border-radius: 45px;
  margin-left: 40%;
  font-size: 100%;
}
#enreg{
  display: none;
}
button:hover,input#enreg:hover{
  background-color: wheat;
  box-shadow: 5px 5px 10px 10px;
}
#clock{
  font-size: 60%;
}

